@import "tailwindcss";

html {
  font-size: 14px;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;

  @apply text-zinc-400;
}

.ProseMirror:focus {
  outline: none;
}

.hide-scrollbar {
  /* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
